/*input[type="file"]:before {
	content: 'Choose image files';
	display: inline-block;
	background: -webkit-linear-gradient(top, #F9F9F9, #E3E3E3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
}
*/

/*#instructions {
	color: black;
	text-align: left;
	font: Verdana;
	font-size: 12px;
}

#intro {
	background-color: #7BB283;
}

#canvases {
	background-color: #FF6663;
}

#buttons {
	background-color: #FF6663;
}

#interaction {
	background-color: #7BAFCC;
}

#result {
	background-color: #B2614A;
}
*/

/*.ui-grid-a, {
    background-color: lightgray;
    border: 1px solid black;
    font-weight: bold;
    padding: 30px;
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
    background-color: lightgray;
    border: 1px solid black;
    font-weight: bold;
    padding: 30px;
}
*/